.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 12rem;
}

.list {
  margin-top: 5rem;
}

.fundheader {
  font-size: 40px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.fundimg {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.country {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.amount {
  font-size: 1rem;
  margin-bottom: 0;
}
