form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input,
  select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  button {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #db00a4;
  }
  
  .center-button {
    display: block;
    margin: 0 auto;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .login-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .login-form input[type="password"] {
    font-family: "Arial", sans-serif;
    letter-spacing: 10px;
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form input[type="password"]:focus {
    outline: none;
    border-color: #f5a623;
  }
  
  .login-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .login-form button {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #ff6347;
  }